@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&family=UnifrakturMaguntia&display=swap');

body {
    background-color: black;
    color: #e0e0e0;
    font-family: 'New Gothic Style', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    background-image: url("../img/main_bg.png");
}

header {
    position: relative;
    border-bottom: 3px double #777;
    background-image: url("../img/banner_img.png");
    background-size: cover;
    background-position: center;
    padding: 0;
}

header h1 {
    font-family: 'New Gothic Style', sans-serif;
    letter-spacing: 5px;
    font-size: 70px;
    color: #ccc;
    align-content: center;
    margin: 0;

}
header h2 {
    position: relative;
    z-index: 2;
    margin: 0;
}

header .subtitle{
    font-family: 'IM Fell English', serif;
}
nav{
    background-image: url("../img/nav-redesign.png");
    background-size: cover;
    background-position: center;
    z-index: 3;
    padding-bottom: 130px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 40px;
    z-index: 4;
}

nav a:hover {
    border-bottom: 5px solid white;
    z-index: 4;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner img{
    width: 40%;
    padding-bottom: 20px;
}